<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章列表</title>
</head>
<body>
<div align="center">
    <h1>文章列表</h1>
    <form action="/myblog/article_list" method="post">
        <table>
            <tr>
                <td>请输入文章标题<input type="text"></td>
            </tr>
            <tr>
                <td>请输入文章主题<input type="checkbox"></td>
            </tr>
            <tr>
                <td><input type="submit"></td>
            </tr>
        </table>
    </form>
</div>


</body>
</html>