<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
</head>
<body>
<div align="center">
    <h1>欢迎来到登陆页面</h1>

    <form action="/myblog/login/" method="post">
        {% csrf_token%}
        <table>
            <tr>
                <td>账号</td>

                <td colspan="2"><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>密码</td>
                <td colspan="2"><input type="password" name="pwd"></td>
            </tr>
            <tr>
                <td><input type="submit" value="登陆"></td>
            </tr>

        </table>

    </form>
</div>

</body>
</html>