<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<div align="center">
    <form action="/myblog/register/" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>账号</td>
                <td colspan="2"><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>密码</td>
                <td colspan="2"><input type="text" name="pwd" maxlength="8,20"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="注册">
                </td>
            </tr>
        </table>
    </form>
</div>
<h1>欢迎来到注册页面</h1>

</body>
</html>